html {
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  font-family: 'Tajawal', sans-serif;
  min-width: 480px;
  width: 98%;
  margin: auto;
}

section.cuerpo {
  margin-top: 90px;
}

div.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  flex-wrap: wrap;
}


div.explicacion{
  margin: 0 20px;
}


div.faq {
  background-image:url(../images/foto2.jpeg);
  margin-bottom: -11px;
}

h2.faq{
  font-size: 2.3em;
  padding-left: 30px;
  text-align:left;
}

span.error{
  font-size: 0.75em;
  color: red;
  font-style: italic;
}

div.panel{
  border: 1px solid #BDBDBD;
  border-radius: 2%;
  padding: 30px;
  width: 270px;
  min-width:270px;
}
div.panelbig{
  border: 1px solid #BDBDBD;
  border-radius: 2%;
  padding: 50px;
  width: 80%;

}
div.panelb80{
  display: none;
}
@media only screen and (min-width:1280px){
  div.panelb80{
    display: block;
    border: 1px solid #BDBDBD;
    border-radius: 2%;
  }
}


div.mini_container{
  padding: 10px;
}


input.espacio_de_relleno{
  background-color: white;
  border: none;
  padding: 10px;
  width: 250px;
}

button.submit{
  background-color: #0B3B39;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  position: relative;
  left: 20px;
}

img.imagenes{
  width: 500px;
  border: 1px solid #BDBDBD;
  border-radius: 2%;
}


img.imagenes_exp{ /* Imagenes del home */
  width: 280px;
  padding: 10px;
}
img.imagenesbanner{
  height:580px;
  border-radius: 2%;

}

div.imagenes_decoracion_registro{
  display: none;
}
@media only screen and (min-width:992px){
  div.imagenes_decoracion_registro{
    display: inline-block;
    padding-left: 30px;
  }
}

/*LOG IN*/
.text_login {
  color:  #0B3B39;
}

div.imagenes_decoracion_login{
  display: none;
}

#bienvenido{
  display: none;
}
@media only screen and (min-width:992px){
  div.imagenes_decoracion_login{
    display: inline-block;
    padding-left: 30px;
  }
  #bienvenido{
    display: inline-block;
  }
}


/*** HEAD ***/
header div.cabecera-de-pagina {
  background-color:#0B3B39;
  padding : 20px 0;
  width: 98%;
  margin: 0, auto;
  min-width: 480px;
  height: 45px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}

header div.logo {
  float: left;
  margin-left:20px;
}

header  div.logo img {
  height:50px;
}

/*@media only screen and (min-width:768px){
  header div.logo {
    width: 33%;
  }
}*/

header nav.navegacion-principal {
  display :none;
}

header nav.navegacion-principal a {
  font-family:'Oswald', sans-serif;
  color : #ffffff;
  font-size:1em;
  text-decoration:none;
  list-style-type:none;
  text-transform: uppercase;
  transition: all .6s ease;
  padding: 8px;
}

header nav.navegacion-principal a:hover {
  background-color:red;
  color:white;
}

header nav.navegacion-principal a:last-child {
  border:1px solid red;
  color:red;
}

header nav.navegacion-principal a:last-child:hover {
  border:1px solid red;
  color:white;
}

@media only screen and (min-width:480px){
  header nav.navegacion-principal {
    /*width: 65%;*/
    float: right;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0px;
    margin-right: 20px;
  }
  header nav.navegacion-principal a {
    margin-right:5px;
    padding:10px, 5px;
    display: inline-block;
  }
}
@media only screen and (min-width:768px){
  header nav.navegacion-principal {
    /*width: 65%;*/
    float: right;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0px;
    margin-right: 20px;

  }
  header nav.navegacion-principal a {
    margin-right:10px;
    padding:10px, 5px;
    display: inline-block;
  }
}

header div.menu-movil {
  float:right;
  width:60px;
  text-align:right;
  display:block;
  margin-top:11px;
}

header div.menu-movil :hover{
  cursor:pointer;
}

@media only screen and (min-width:480px){
  header div.menu-movil {
    display:none;
  }
}

header div.menu-movil span {
  height:8px;
  background-color:white;
  margin-bottom:6px;
  display:block;
}

/*** FOOTER ***/
footer div.pie_de_pagina {
  height:45px;
  background-color:#0B3B39;
  border-top: 1px solid;
   margin-top: 30px;
  padding : 20px ;
}

footer div.contenido{
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

footer div.contenido a{
  font-size: 1em;
  color:#D8D8D8;
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  text-transform: capitalize;
  border-right: solid 1px white;
}

@media only screen and (min-width:480px){
  footer div.contenido a{
    padding: 0px 20px 0px 20px;
  }
}
@media only screen and (min-width:768px){
  footer div.contenido a{
    padding: 0px 30px 0px 30px;
  }
}

footer div.contenido a:last-child {
  border-right: none;
}

footer div.redes-sociales{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 15px;
}

footer div.redes-sociales a {
  color : #ffffff;
  font-size: 1em;
  margin-right: 20px;
}
